'''
@Author: Naziya

@Date: 2021-09-24

@Last Modified by: Naziya

@Last Modified : 2021-09-24

@Title : Program Aim is to create S3 buckets using boto3 library, upload, read, write and download files in and from s3 bucket.

'''

Import the necessary libraries

In [19]:
import boto3
import os
import pandas as pd
from LoggerFormat import logger
from dotenv import load_dotenv
load_dotenv('.env')

True

In [20]:
s3 = boto3.client('s3')

Get all the buckets created

In [21]:
try:
    s3 = boto3.resource(
        service_name='s3',
        region_name=os.getenv("REGION"),
        aws_access_key_id=os.getenv("ACCESS_KEY"),
        aws_secret_access_key=os.getenv("SECRET_KEY")
    )
except Exception as err:
    logger.error(err)

Print the created buckets

In [22]:
for bucket in s3.buckets.all():
    logger.info(bucket.name)

Create a new bucket

In [23]:
bucket = s3.create_bucket(Bucket='naziyatest4',CreateBucketConfiguration={'LocationConstraint':'ap-south-1'})
print("Successfully created bucket")

Successfully created bucket

Create a dataframe and upload it into the bucket created

In [24]:
# Make dataframes
data1 = pd.DataFrame({'x': [1, 2, 3], 'y': ['a', 'b', 'c']})
data2 = pd.DataFrame({'x': [10, 20, 30], 'y': ['aa', 'bb', 'cc']})

# Save it to csv
data1.to_csv('data1.csv')
data2.to_csv('data2.csv')

In [25]:
# Upload files to S3 bucket
s3.Bucket('naziyatest4').upload_file(Filename='data1.csv', Key='data1.csv')
s3.Bucket('naziyatest4').upload_file(Filename='data2.csv', Key='data2.csv')

Fetch all objects from the buckets

In [26]:
for obj in s3.Bucket('naziyatest4').objects.all():
    logger.info(obj)

Read csv file from bucket directy into python

In [27]:
myfile1 = s3.Bucket('naziyatest4').Object('data1.csv').get()
pd_data1 = pd.read_csv(myfile1['Body'], index_col=0)

In [28]:
pd_data1.head()

   x  y
0  1  a
1  2  b
2  3  c

In [29]:
myfile2 = s3.Bucket('naziyatest4').Object('data2.csv').get()
pd_data2 = pd.read_csv(myfile2['Body'], index_col=0)

In [30]:
pd_data2.head()

    x   y
0  10  aa
1  20  bb
2  30  cc

Download file and read from disc

In [31]:
s3.Bucket('naziyatest4').download_file(Key='data1.csv', Filename='downloaded1.csv')
pd.read_csv('downloaded1.csv', index_col=0)

   x  y
0  1  a
1  2  b
2  3  c

In [32]:
s3.Bucket('naziyatest4').download_file(Key='data2.csv', Filename='downloaded2.csv')
pd.read_csv('downloaded2.csv', index_col=0)

    x   y
0  10  aa
1  20  bb
2  30  cc

Deleting data from bucket

In [33]:
bucket = s3.Bucket('naziyatest4')
bucket.objects.all().delete()

[{'ResponseMetadata': {'RequestId': 'YTGF0YCYKJT5QZGY',
   'HostId': 'Iuq8vyhLdGzaTSJms0wQZy96CIQkLntSVWorjDmVZkCQ82KBMAUc17no8E/C6+j96vxbKkdcR88=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'Iuq8vyhLdGzaTSJms0wQZy96CIQkLntSVWorjDmVZkCQ82KBMAUc17no8E/C6+j96vxbKkdcR88=',
    'x-amz-request-id': 'YTGF0YCYKJT5QZGY',
    'date': 'Thu, 23 Sep 2021 21:14:51 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'data1.csv'}, {'Key': 'data2.csv'}]}]

Deleting bucket from S3

In [34]:
bucket = s3.Bucket('naziyatest4')
bucket.delete()

{'ResponseMetadata': {'RequestId': '6AGXCQ0Q50QXV94S',
  'HostId': 'R8wTsp8hJIoms/o7YFa+u7ry23eWjO0pBysKWcbdqWUF3UbxYr+UFylwHAzgYWsbGzqNLd296Oc=',
  'HTTPStatusCode': 204,
  'HTTPHeaders': {'x-amz-id-2': 'R8wTsp8hJIoms/o7YFa+u7ry23eWjO0pBysKWcbdqWUF3UbxYr+UFylwHAzgYWsbGzqNLd296Oc=',
   'x-amz-request-id': '6AGXCQ0Q50QXV94S',
   'date': 'Thu, 23 Sep 2021 21:15:20 GMT',
   'server': 'AmazonS3'},
  'RetryAttempts': 0}}